Modulo 2/UF1/XML/Catalogo/cd_catalog.dtd


<!ELEMENT CD  ( TITLE , ARTIST , COUNTRY , COMPANY , PRICE , YEAR )>

<!ELEMENT ARTIST  ( #PCDATA )>

<!ELEMENT CATALOG  ( CD+ )>

<!ELEMENT COUNTRY  ( #PCDATA )>

<!ELEMENT PRICE  ( #PCDATA )>

<!ELEMENT YEAR  ( #PCDATA )>

<!ELEMENT TITLE  ( #PCDATA )>

<!ELEMENT COMPANY  ( #PCDATA )>
