Modulo 2/UF1/XML/EditiX/Eyecolor/Family.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="person">

		<xs:complexType>

			<xs:sequence>

				<xs:element name="firstname" type="xs:string"/>

				<xs:element name="lastname" type="xs:string"/>
			</xs:sequence>
		<xs:anyAttribute/>
			</xs:complexType>
	</xs:element>

</xs:schema>
